<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENCE SALEMI</title>
    <link
            rel="shortcut icon"
            type="image/png"
            href="/Template/Image/Logo.png"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styleHeader.css">
    <link rel="stylesheet" href="../css/StyleFootesr.css">
    <link rel="stylesheet" href="../css/about.css">


</head>
<body>
    <header>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li class="dropdown">
                <a href="#" class="Text">Reserve maintenant</a>
                <div class="dropdown-content">
                  <a href="/Template/tooles/VolNational.html">vol national</a>
                  <a href="/Template/tooles/VolEtranger.html">voyage à l'étranger</a>
                  <a href="/Template/tooles/VolMedal.html">voyage médical</a>
                </div>
            </li>
            <li><a href="/Template/tooles/Visa.html">Visa</a></li>
            <li><a href="/Template/tooles/Hotel.html">Hôtel</a></li>
            <li><a href="/Template/tooles/BilletsAvion.html">Billets d'avion</a></li>
            <li><a href="" class="active">Qui sommes-nous ?</a></li>
            <div class = "logo"><img src="/Template/Image/Logo.png" alt="">
                <div class="text">
                    <div><samp>AGENCE</samp><samp> SALMI</samp></div>
                    <p>Agence de tourisme de salmi</p>
                </div>
            </div>
        </ul>
    </header>
    <main>
        <header>
            <div class="content">
                <h1>AGENCE SALEMI</h1>
                <p>
                    L'agence de voyage et de tourisme Salmi est une entreprise leader dans 
                    l'industrie du voyage et du tourisme, offrant d'excellents services aux clients.<br>
                    Les services de l'entreprise comprennent des voyages médicaux et exploratoires dans le 
                    désert.De plus, l'agence organise des voyages locaux pour visiter les attractions touristiques
                    et culturelles de l'État algérien, où les lieux historiques, les jardins, les plages et divers
                    parcs naturels sont explorés, et nous faisons n'oubliez pas également les voyages dans les lieux saints pour effectuer la Omra.<br>
                    L'équipe de Salmi Travel and Tourism Agency possède une grande expérience dans le domaine du voyage
                    et du tourisme et s'efforce toujours de fournir les meilleurs services aux clients et d'assurer leur entière satisfaction. L'équipe s'appuie sur des technologies modernes et avancées dans le domaine de la numérisation
                </p>
            </div>
        </header>
    </main>
    <footer>
        <div class="links">
            <div class="links-container">
                <h3>liens</h3>
                <a href="">Home</a>
                <a href="/Template/tooles/Visa.html">Visa</a>
                <a href="/Template/tooles/Hotel.html">Hôtel</a>
                <a href="/Template/tooles/BilletsAvion.html">Billets d'avion</a>
                <a href="/Template/tooles/about.html">Qui sommes-nous ?</a>
            </div>
            <div class="links-container">
                <h3>Contactez-nous</h3>
                <a href="www.gmail.com">Salmivoyage17@gmail.com</a>
                <a href="html/">+213671474933</a>
                <a href="html/">+213550818780</a>
                <a href="html/">+213227939042</a>
            </div>
            <div class="links-container">
                <h3>Suivez-nous</h3>
                 <div class = "Follow"> 
                <a href="#"><i class="fa fa-facebook "></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                 </div>
            </div>
            <div class="links-container">
                <h3>Localisation </h3>
                <a href="https://goo.gl/maps/WEfgPf3GmJCjixB86"
                    >M67W+V7H الجلفة‎</a>
            </div>
        </div>
    
        <div class="info">
            Copyright &#169; 2022-2023 focus Technologie <br/>
            Tous les droits sont réservés
        </div>
    </footer>
</body>
</html>